#db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=local_secure_password
POSTGRES_DB=ft_transcendence
#chang the path to local
DBDATAPATH=/home/bliu/data/db

#backend
API_V1_STR=/api/v1
#11520=60*24*8
ACCESS_TOKEN_EXPIRE_MINUTES=11520

BACKEND_CORS_ORIGINS="http://localhost:5173,https://localhost:8443"

DATABASE_URL=postgresql+psycopg://postgres:local_secure_password@db:5432/ft_transcendence
DMODE=dev

FIRST_SUPERUSER=superuser.first@mail.com
FIRST_SUPERUSER_PASSWORD=thisisaverysecurepassword

FRONTEND_HOST=http://localhost:5173

O42_CLIENT_ID=your_google_client_id_here
O42_CLIENT_SECRET=your_google_client_secret_here
O42_REDIRECT_URI=https://localhost:5173/oauth/callback

MAIL_USERNAME=lisboa.42.transcendence@gmail.com
MAIL_PASSWORD=gjuemlbajsrdunyw
MAIL_FROM=lisboa.42.transcendence@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com

PROJECT_NAME=UNO

SECRET_KEY=super_secret_jwt_key_for_local_dev_12345

#frontend
WATCHPACK_POLLING=true