#This file needs to remove all the sensitive information before commit to github, otherwise it will be a security risk.
#db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=ft_transcendence
#chang the path to local
DBDATAPATH=/home/bliu/data/db

#backend
API_V1_STR=/api/v1
#11520=60*24*8
ACCESS_TOKEN_EXPIRE_MINUTES=11520

BACKEND_CORS_ORIGINS="http://localhost:5173,https://localhost:8443"

DMODE=dev

FIRST_SUPERUSER=superuser.first@mail.com
FIRST_SUPERUSER_PASSWORD=thisisaverysecurepassword

FRONTEND_HOST=http://localhost:5173

O42_CLIENT_ID=u-s4t2ud-4fd7d4328708d664e69bccd8373a6462d42d6ec68e69a42c929aa83b9436d076
O42_CLIENT_SECRET=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
O42_REDIRECT_URI=https://localhost:8443/api/v1/auth/42/callback
O42_TOKEN_URL=https://api.intra.42.fr/oauth/token

MAIL_USERNAME=lisboa.42.transcendence@gmail.com
MAIL_PASSWORD=gjuemlbajsrdunyw
MAIL_FROM=lisboa.42.transcendence@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com

PROJECT_NAME=UNO

SECRET_KEY=super_secret_jwt_key_for_local_dev_12345

#frontend
WATCHPACK_POLLING=true

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me