POSTGRES_USER=postgres
POSTGRES_PASSWORD=local_secure_password
POSTGRES_DB=ft_transcendence
#chang the path to local
DBDATAPATH=/home/bliu/data/db

DATABASE_URL=postgresql+psycopg://postgres:local_secure_password@db:5432/ft_transcendence
SECRET_KEY=super_secret_jwt_key_for_local_dev_12345
O42_CLIENT_ID=your_google_client_id_here
O42_CLIENT_SECRET=your_google_client_secret_here
O42_REDIRECT_URI=https://localhost:5173/oauth/callback

WATCHPACK_POLLING=true

FIRST_SUPERUSER=superuser.first@mail.com
FIRST_SUPERUSER_PASSWORD=thisisaverysecurepassword
